body {
background-color: bisque;
display: flex;
flex-direction: column;
align-items: center;
}
.row {
border: black solid 1px;
background-color: red;
display: flex;
height: 20px;
width:20px;
}

#container {
height: 340px;
width: 540px;
padding: 16px;
border: blue solid 2px;
display: flex;
background-color: black;
}