body {
  /* background-color: wheat; */
  background-image: url("https://i.pinimg.com/564x/7f/23/6d/7f236d9173f0dd45f0d9abb3dc9f1b59.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  width: 100%;
  height: 100%;
}

#container {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#container > div {
  display: flex;
  box-sizing: border-box;
  border: 0.7px solid white;
  flex-grow: 1;
}
button {
  padding: 10px 15px;
  font-size: 1rem;
  margin: 0 1.5px;
  margin-bottom: 10px;
  background: sienna;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}
#container p {
  font-size: 40px;
  text-align: center;
  color: #fff;
}
#keyframe {
  font-size: 20px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px blue, 0 0 40px wheat,
      0 0 50px blue, 0 0 60px blue, 0 0 70px blue;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px red, 0 0 40px blue, 0 0 50px blue,
      0 0 60px blue, 0 0 70px blue, 0 0 80px blue;
  }
}
